.relative{
	    		position: relative;
	    		width: 50%; 
	    		height: 400px; 
	    		background-color: red;
	    	}
	    	.absolute{
	    		position: absolute; 
	    		top: 0px;
	    		width: 25%;
	    	    height: 200px;
	    	    background-color: yellow;
	    	}

p{
	position: static; 
	clear:left;
	float:left; 
	text-align: left;
	margin-left: 0px;
	margin-top: 220px;
	margin-right: 100px;
	margin-bottom: 40px;
}

.box{
	height: 200px;
	width: 300px;
	margin: 20px;
	background-color: red;
	position: static; 
	float:left; 
	text-align: left;
	border: solid 1px black;
}

.box2{
	height: 100px;
	width: 300.5px;
	margin-left: -321px;
	background-color: yellow;
	position: static; 
	float:left; 
	margin-top: 70px;
}

.box3{
	height: 20.5px;
	width: 300px;
	margin-left: -320.5px;
	background-color: white;
	position: static; 
	float:left; 
	margin-top: 110px;
}

.box4{
	height: 200.5px;
	width: 20px;
	margin-left: -230px;
	margin-top: 20.5px;
	background-color: white;
	position: static; 
	float: left; 
}

.box5{
	height: 66.6px;
	width: 225px;
	margin-left: -246px;
	background-color: green;
	position: static; 
	float:left; 
	margin-top: 21px;
}

.box6{
	height: 66.6px;
	width: 225px;
	margin-left: -246px;
	background-color: white;
	position: static; 
	float:left; 
	margin-top: 88px;
}

.box7{
	height: 66.6px;
	width: 225px;
	margin-left: -246px;
	background-color: black;
	position: static; 
	float:left; 
	margin-top: 154.5px;
}

.box8{
	height: 200px;
	width: 300px;
	margin: 20px;
	background-color: white;
	position: static; 
	float:left; 
	text-align: left;
	border: solid 1px black;
}

.circle{
	height: 80px;
	width: 80px;
	margin: 20px;
	margin-top: 80px;
	margin-left: -210px;
	background-color: red;
	position: static; 
	float:left; 
	text-align: left;
	border-radius: 50%
}

.banderas{
		text-align: center;
	    color: black;
	    float: left;
	    padding-left;
	    margin-top: 0px;
	    margin-left: 0px;
	    margin-right: 0px;
}